@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.logo-btn {
  @apply hover:text-blue-500 transition-colors duration-300 text-5xl p-4;
}

.nav-btn {
  @apply hover:text-blue-500 transition-colors duration-300 text-2xl p-2 pl-5 pr-5;
}

.header {
  @apply text-4xl font-bold pb-[5%];
}